# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/venv/
!/NNgetStarted/test.py
/text_rnn_attention/
/HAN/data/
